# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Python cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# SQLite Database
*.db

# Uploads dir
uploads/